header{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    padding: 1px 0px 10px 0px;
}

nav{
    text-align: right;
}

main{
    height: auto;
    width: 70em;
    margin: 0 auto;
}

.links_menu{
    font-family: Arial, Helvetica, sans-serif;
    color: 	#F2F2F2;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}


.links_menu:hover{
    background-color: #F2F2F2;
    color: rgb(0, 0, 0);
    border-radius: 12px;
}

h1#titulo_cabecario{
    text-align: center;
    color: #F2F2F2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.2em;
}

article{
    padding-top: 50px;
}

.paragrafo_text{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.lista_lancamentos_apple{
    margin-top: 3px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 15px 0px;
    color: #F2F2F2;
    width: 100%;
}